.error__container{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 15px 10px #d3ff52;
  margin: 15px;
}
.error__title{
  color: #d3ff52;
  position: absolute;
  z-index: 3;
  font-family: 'Rubik Glitch', cursive;
  text-shadow: 0px 0px 25px #0ab8da;
  top: -20px;
  letter-spacing: 4px;
  text-align: center;
  -webkit-text-stroke: 1px #02b3d491;
  animation: fadeIn;
  animation-duration: 3s;
}
.img__container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.37);
  height: 55vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
