
.App {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.background__img{
  background-image: url('/stars.gif');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
}
.filter__list{
  color:rgb(46, 153, 8);
  cursor: pointer;
}

.div__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  padding: 10px;
}

.header__image{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

}

.form__container {
  font-family: 'Lacquer', cursive;
  max-width: 1024px;
}

.input__container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.input__box{
  background-color: rgb(45 126 15);
  height: 50px;
  border: none;
  border-radius: 20px 0px 0px 20px;
  color: #10aec5;
  font-family: 'Lacquer', cursive;
}
.input__box::placeholder{
  color: #10aec5;
}
.input__button{
  background-color: rgb(45 126 15);
  border-radius: 0px 20px 20px 0px;
  height: 52px;
  border: none;
  cursor: pointer;
  font-family: 'Lacquer', cursive;
  color: #10aec5;

}
.input__button:active{
  background-color: rgb(46, 153, 8);

}

.information{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
